<!doctype html>
<html lang="pl">
<head>
    <title>Winamp Ctrl</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css" />
    <link rel="shortcut icon" href="http://o.aolcdn.com/winamp/dp/5602/common/img/favicon.ico" type="image/x-icon" />

    <style type="text/css">
        a:active {outline: none;}
        a:focus {-moz-outline-style: none;}
    </style>
</head>
<body>

<div id='content'></div>

<p>
<label for="amount">Volume:</label>
<input type="text" id="amount" style="border: 0; color: #f6931f; font-weight: bold;" />
</p>
<div id="slider-vertical" style="height: 200px;"></div>


<script>

$(function() {



$("button[type=submit]").button().height(24)
.click(function( event ) {
event.preventDefault();


if ($(this).attr("src")) {
  $.getJSON("/djangosite/winamp?cmd="+$(this).attr("name")+"&param1="+$(this).attr("src"));
} else {
  $.getJSON("/djangosite/winamp?cmd="+$(this).attr("name"));
}

});

$("button[name=play]").button({ icons: {primary: "ui-icon-play"}, text: false});
$("button[name=pause]").button({ icons: {primary: "ui-icon-pause"}, text: false});
$("button[name=stop]").button({ icons: {primary: "ui-icon-stop"}, text: false});
$("button[name=prev]").button({ icons: {primary: "ui-icon-seek-prev"}, text: false});
$("button[name=next]").button({ icons: {primary: "ui-icon-seek-next"}, text: false});
$("button[name=open]").button({ icons: {primary: "ui-icon-power"}, text: false});
$("button[name=close]").button({ icons: {primary: "ui-icon-close"}, text: false});



});



$( "#slider-vertical" ).slider({
orientation: "vertical",
range: "min",
min: 0,
max: 100,
value: 0,
slide: function( event, ui ) {
$( "#amount" ).val( ui.value );
$.getJSON("/djangosite/winamp?cmd=volume&param1="+ui.value);
}
});
$( "#amount" ).val( $( "#slider-vertical" ).slider( "value" ) );




     function RefreshData(){
         $.getJSON("/djangosite/winamp/json", 
              function(data) {
                  $('#content').html('Tytul: ' + data.title + '<br/>' +data.cur_time + '<br/>');
                  $( "#slider-vertical" ).slider({ value: data.volume });
                  $( "#amount" ).val( data.volume );
              }); 
         setTimeout("RefreshData()",1000);
      }


$(document).ready(function(){ 
//DOCUMENT READY FUNCTION
    RefreshData();
}); 
//DOCUMENT READY FUNCTION 

</script>  

<table>
<tr>
<td><button name="play" type="submit" value="Play"/></td>
<td><button name="pause" type="submit" value="Pause"/></td>
<td><button name="stop" type="submit" value="Stop"/></td>
<td><button name="prev" type="submit" value="&lt"/></td>
<td><button name="next" type="submit" value="&gt"/></td>
<td><button name="open" type="submit" value="Open"/></td>
<td><button name="close" type="submit" value="Close"/></td>
</tr>
</table>

<table>
<tr>
{% for radio in radia %}
  <td><button name="station" src="{{ radio.adres }}:{{ radio.port }}" type="submit">{{ radio.nazwa }}</button></td>
{% endfor %}
</tr>
</table>

</body>
</html>